

html { 
    background: url(/assets/images/background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-text {
    font-size: 25px;
    color: #0175cc;
    text-align: center;
}


/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.90);
    overflow-x: hidden;
    padding-top: 15px;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
    padding: 10px 8px 10px 22px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


.dropdown-btn a {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* popout bar style */
.pop-out {
    width: 350px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 15px;
    display: none;
}

#pop-out {
    background-color: rgba(17, 17, 17, 0.90);
    left: 0px;
    display: block;
}

#pop-out1 {
    background-color: rgba(17, 17, 17, 0.86);
    left: 350px;

}

#pop-out2-energy {
    background-color: rgba(17, 17, 17, 0.82);
    left: 700px;
}
#pop-out2-condition {
    background-color: rgba(17, 17, 17, 0.82);
    left: 700px;
}
#pop-out2-helpdesk {
    background-color: rgba(17, 17, 17, 0.82);
    left: 700px;
}

#pop-out3 {
    background-color: rgba(17, 17, 17, 0.78);
    left: 700px;
}

.pop-out-header {
    font-size: 25px;
    color: #0175cc;
    text-align: center;
    margin-bottom: 50px;
}

#helpdesk-category, #condition-category, #energy-category, #property-types {

    width: 80%;
    height: 32px;
    font-size: 16px;
    margin: 0 auto 30px auto;
    border-radius: 4px;
    background-color: #0175cc;
    color: white;
    border-color: #0175cc;
    padding: 5px;
    display: none;

}

.input-container {
    width: 80%;
    margin: 0 auto;

}

.input-container label {
    display: block;
    float: left;
    padding: 0 0 3px 0;
    color: #f0f0f0;
    margin: 0 auto;
    font-size: 13px;
}

#thresholdYellow, #thresholdRed {
    background-color: #f0f0f0;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 25px;
    border-radius: 4px;
    font-size: 15px;
}

#thresholdRed {
    margin-bottom: 40px;
}

.input-container button {
    display: block;
    color: #0175cc;
    font-size: 13px;
    background-color: #f0f0f0;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 8px;
    margin: auto;
}

.slide-container {
    width: 100%;
    margin: 0 auto;
}
  
.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
margin-bottom: 50px;
}

#weightslider {
    display: block;
    float: left;
    padding: 0 0 3px 0;
    color: #f0f0f0;
    margin: 0 auto;
    font-size: 13px;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #0175cc;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #0175cc;
cursor: pointer;
}

 .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 350px;
}

 .nav-item a{
    padding: 10px 0px 10px 22px;
    text-decoration: none;
    font-size: 20px;
    color: #b3b3b3;
    display: block;
    border: none;
    background: none;
    width: 328px;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* Change the link color on hover */
 .nav-item a:hover{
    background-color: #555;
    color: white;
}

.active a , .active{
    background-color: #7d7d7d;
    color: #FFFFFF;
}