html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
html h1, html h2, html h3, html h4, html h5, html h6 {
    margin: 0;
}
html h1 {
    color: #333;
    font-weight: 500;
}
html h3 {
    color: #aaa;
    font-weight: 500;
}
html h4 {
    color: #999;
    font-weight: 500;
}
html h4:after {
    content: "%";
    padding-left: 1px;
}
html input[type="range"] {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 400px;
    max-width: 100%;
    margin: 24px 0;
    transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    html input[type="range"] {
        overflow: hidden;
        height: 40px;
        -webkit-appearance: none;
        background-color: #ddd;
   }
    html input[type="range"]::-webkit-slider-runnable-track {
        height: 40px;
        -webkit-appearance: none;
        color: #444;
        margin-top: -1px;
        transition: box-shadow 0.2s ease-in-out;
   }
    html input[type="range"]::-webkit-slider-thumb {
        width: 40px;
        -webkit-appearance: none;
        height: 40px;
        cursor: ew-resize;
        background: #fff;
        box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
        border-radius: 50%;
        transition: box-shadow 0.2s ease-in-out;
        position: relative;
   }
    html input[type="range"]:active::-webkit-slider-thumb {
        background: #fff;
        box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
   }
}
html input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}
html input[type="range"]::-moz-range-track {
    background-color: #9a905d;
}
html input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}
html input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}
