extends layout

block content
    h1 Import af XLSX og CSV filer

    button 
        a(href="http://localhost:3000/") Home
    form(action='/import/csv', method='post', enctype="multipart/form-data")
        h2 Upload csv:
        br
        select(name="kategori")
          option(value="Helpdesk") Helpdesk
          option(value="Vedligeholdelse") Vedligeholdelse
        br
        br
        input(type='file', name='csv-file', accept=".csv")
        br
        br
        input(type='submit', value='Upload')

    br
    hr
    br

    form(action='/import/xlsx', method='post', enctype="multipart/form-data")
        h2 Upload xlsx:
        br
        select(name="kategori")
          option(value="Helpdesk") Helpdesk
          option(value="Vedligeholdelse") Vedligeholdelse
        br
        br
        input(type='file', name='xlsx-file', accept=".xlsx")
        br
        br
        input(type='submit', value='Upload')
