extends layout

block content
    link(rel="stylesheet", href="/assets/stylesheets/common.css")
    h1 Import af XLSX og CSV filer

    
    a(href="http://localhost:3000/" class="btn") Home

    br
    hr
    br
    form(action='/import/csv', method='post', enctype="multipart/form-data")
        h2 Upload csv:
        br
        select(name="kategori" class="categorySelect")
            option(value="Helpdesk") Helpdesk
            option(value="Tilstand") Tilstand
        br
        br
        input(type='file', name='csv-file', accept=".csv" class="btn")
        br
        br
        input(type='submit', value='Upload' class="btn")

    br
    hr
    br

    form(action='/import/xlsx', method='post', enctype="multipart/form-data")
        h2 Upload xlsx:
        br
        select(name="kategori" class="categorySelect")
            option(value="Helpdesk") Helpdesk
            option(value="Tilstand") Tilstand
        br
        br
        input(type='file', name='xlsx-file', accept=".xlsx" class="btn")
        br
        br
        input(type='submit', value='Upload' class="btn")
        br
        if (xlsxFileUploaded)
            p File successfully uploaded
