extends layout

block content
  link(rel="stylesheet", href="/assets/stylesheets/ftp.css")
  h1= title
  p Welcome to #{title}
  button(class="btn") 
    a(href="http://localhost:3000/import/" class="homeLink") import csv/xlsx
  button(class="btn")
    a(href="http://localhost:3000/limits/" class="homeLink") sæt grænser
  button(class="btn") 
    a(href="http://localhost:3000/WeightUI/" class="homeLink") sæt vægtning
  button(class="btn") 
    a(href="http://localhost:3000/ftp/" class="homeLink") FTP
  button(class="btn")
    a(href="http://localhost:3000/export/" class="homeLink") export
  br
  hr
  br
  