extends layout

block content
  h1= title
  p Welcome to #{title}
  button 
    a(href="http://localhost:3000/import/") import csv/xlsx
  button 
    a(href="http://localhost:3000/limits/") sæt grænser
  button 
    a(href="http://localhost:3000/WeightUI/") sæt vægtning
  button 
    a(href="http://localhost:3000/ftp/") FTP