extends layout
  

block content
  h1 limit page
  button 
    a(href="http://localhost:3000/") Home
  button
    a(href="http://localhost:3000/limits/") Tilbage  
  p Welcome to limit page
  p vælg katagori
  
  form(action="/limits/helpdesk", method="post")
    select#catagory(name="catagory")
      option(value="indeklima") indeklima
      option(value="væg") væg
    br
    p vælg bygningstype
    select#select(name="select")
      option(value="skole") skole
      option(value="plejehjem") plejehjem
    br 
    p gul grænse
    input(type="number" name="yellowThreshold" id="minvalue")
    |   per kvm. 
    br 
    p rød grænse
    input#maxvalue(type="number" name="redThreshold")
    |   per kvm. 
    br
    br
    input(type="submit", value="Send data") 

  script(src="/assets/javascripts/limitsHelpdesk.js")