extends layout

block content
  button
    a(href="http://localhost:3000/") Home

  h1 Forsiden for grænseværdier 
  p Vælg en ønsket kategori

  button
    a(href="http://localhost:3000/limits/helpdesk") Helpdesk
  button
    a(href="http://localhost:3000/limits/power") Power
  button
    a(href="http://localhost:3000/limits/water") Water
  button
    a(href="http://localhost:3000/limits/heat") Heat
    
    