extends layout



block content
  link(rel="stylesheet", href="/assets/stylesheets/slider.css")
  H1 Vægtning Helpdesk
  button 
    a(href="http://localhost:3000/") Home
  form(action="/weightUI/helpdesk", method="post")
    select#select(name = `select`)
      option(value='420') Skole
      option(value='440') Dag Institutioner
    +slider('Indeklima', 'indeBullet', "indeSlider")
    +slider('Tekniske anlæg', 'tekBullet',"tekSlider")
    +slider('Udv. belægning', 'udvBullet', 'udvSlider')
    +slider('Murværk og facade', 'murBullet', 'murSlider')
    +slider('Tag', 'tagBullet', "tagSlider")
    +slider('Udhæng og gavle', 'udBullet', "udSlider")
    +slider('Tagdækning', 'tagDækBullet', "tagDækSlider")
    +slider('Tagrender og nedløb', 'tagrenBullet', "tagrenSlider")
    +slider('Vinduer og udv. Døre', 'vinBullet', "vinSlider")
    +slider('Fundament og sokkel', 'funBullet', "funSlider")
    input(type="submit", value="Send data") 
  script(src="/assets/javascripts/helpdeskslider.js")



mixin slider(name, bullet, slider)
  .container
    .range-slider
        p= name
        span(id=`${bullet}` class=`rs-label` value="0" min="0" max="100") 0
        input(id=`${slider}` class="rs-range" name=`${slider}` type='range' value='0' min='0' max='100')
    .box-minmax
        span 0
        span 100
