extends layout



block content
    link(rel="stylesheet", href="/assets/stylesheets/slider.css")
    H1 Vægtning Overordnet
    button
        a(href="http://localhost:3000/") Home
    form(action="/weightUI/overall", method="post")
        select#select(name = `select`)
            option(value='420') Skole
            option(value='440') Dag Institutioner
        +slider('Tilstand', 'tilsBullet', "tilsSlider")
        +slider('Energi', 'energiBullet', 'energiSlider')
        +slider('Helpdesk', 'helpBullet', 'helpSlider')
        input(type="submit", value="Send data")
    script(src="/assets/javascripts/overallslider.js")

include slider