// currently works properly in Chrome only, JS fallback required for IE/FF
script(src='assets/javascripts/slider.js')
script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
link(rel="stylesheet", href='assets/stylesheets/slider.css')
h1 CSS-Only Range Slider
h3 JS used for color-change and % label 
#sliderin 
    input(type='range' value= 0)
#demo
    h4 0
