extends layout



block content
    link(rel="stylesheet", href="/assets/stylesheets/slider.css")
    H1 Vægtning Overordnet
    button
        a(href="http://localhost:3000/") Home
    form(action="/weightUI/overall", method="post")
        +slider('Tilstand', 'tilsBullet', "tilsSlider", 0)
        +slider('Energi', 'energiBullet', 'energiSlider', 1)
        +slider('Helpdesk', 'helpBullet', 'helpSlider', 2)
        input(type="submit", value="Send data")
    script(src="/assets/javascripts/overallslider.js")



mixin slider(name, bullet, slider, id)
    .container
        .range-slider
            p= name
            span(id=`${bullet}` class=`rs-label` value="0" min="0" max="100") 0
            input(id=`${slider}` class="rs-range" name=`${slider}` type='range' value='0' min='0' max='100')
        .box-minmax
            span 0
            span 100
