extends layout

block content
  link(rel="stylesheet", href="/assets/stylesheets/common.css")
  h1= title
  p Welcome to #{title}
  a(href="http://localhost:3000/import/" class="btn") import csv/xlsx
  
  a(href="http://localhost:3000/limits/" class="btn") sæt grænser
   
  a(href="http://localhost:3000/WeightUI/" class="btn") sæt vægtning
  
  a(href="http://localhost:3000/ftp/" class="btn") FTP
  
  a(href="http://localhost:3000/export/" class="btn") export
  br
  hr
  br
  