extends layout

block content
    link(rel="stylesheet", href="/assets/stylesheets/common.css")

    H1 Vægtningssiden

    a(href="http://localhost:3000/" class='btn') Home

    br

    button(class='btn' onclick="location.href = '/weightUI/helpdesk'") Helpdesk
    button(class='btn' onclick="location.href = '/weightUI/state'") Tilstand
    button(class='btn' onclick="location.href = '/weightUI/overall'") Overordnet